# Dependencies
node_modules/
venv/
__pycache__/
*.pyc

# Next.js
.next/
out/
build/
next-env.d.ts

# Env files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.agents
.claude
.puku-cli